{% extends "main.html" %}
{% block content %}
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h2>Edit {{catalog.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form method = "post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type ="text" class="form-control" name="name" value="{{catalog.name }}">
                    <div class="padding-bottom"></div>
                    <button type="submit" class="margin-top btn-default" id="submit" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
                </div>
            </form>
                <div class="form-group">
                    <a href = "{{url_for('menu_page.showMenu', catalog_id=catalog.id)}}">
                        <button class="margin-top btn-default delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                    </a>
                </div>
        </div>
    </div>
{% endblock %}