{% extends "main.html" %}
{% block content %}
    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h1>Edit Menu Item</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form method = "post">
                <div class="form-group">
                    <label for="name">Title:</label>
                    <input type ="text" maxlength="100" class="form-control" name="title" value="{{item.title}}">

                    <label for="description">Description:</label>
                    <textarea class="form-control" maxlength="250" rows="3" name="description">{{item.description}}</textarea>

                    <label for="catalog">Catalog:</label>

                    <select id="catalogs" name="catalog_id" class="form-control">
                    {% for i in catalogs %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                    </select>

                    <button type="submit" class="btn btn-default" id="submit" type="submit">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Save</button>
                    <a href = "{{url_for('menu_page.showMenuItem', catalog_id=catalog.id, item_title=item.title)}}">
                        <button class="btn btn-default delete">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}