<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="container">
			<div class="head row padding-top padding-bottom">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<h2 class="heading">Catalop App</h2>
				</div>
				<div class="col-md-5">
					<form>
						<input type="button" name="logout" value="Logout">
					</form>
				</div>
				<div class="col-md-1"></div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>