{% extends "main.html" %}
{% block content %}

    <div class="row banner menu">
        <div class="col-md-11 col-md-offset-1 padding-none">
            <h2>Create New Catalog</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1 padding-top">
            <form method = "post">
                <div class="form-group">
                <label for="name">Name:</label>
                <input type ="text" class="form-control" maxlength="100" name="name">
                <div class="padding-bottom"></div>
                <button type="submit" class="margin-top btn-default" id="submit" type="submit">
                    <span class="maki-soccer" aria-hidden="true"></span>  Create</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}